@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-green-dark min-h-[200vh] 2xl:!pt-[9rem] pt-[100px] overflow-x-hidden;
  }
}

@layer components {
  .center-mode {
    @apply flex justify-center items-center;
  }

  .address-link {
    @apply sm:text-2xl text-xl font-medium text-green block hover:underline;
  }
  .address-wrapper {
    @apply bg-gray-light sm:rounded-[30px] sm:w-[48%] rounded-[20px] flex flex-col justify-between sm:py-10 py-[30px] sm:px-[30px] px-5;
  }
  .address-title {
    @apply sm:text-button1 text-button2 text-orange mb-1;
  }

  .footer-contact-link {
    @apply text-white text-paragraph1 hover:underline;
  }

  .nested-border {
    @apply border-2 border-orange/20 px-16 py-[34px];
  }
}

.phone-input .PhoneInputCountry {
  display: none;
}

#health-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 700px) {
  #sertificate-slider .swiper-slide {
    transition: all 0.3s linear;
  }

  #sertificate-slider .swiper-slide-next {
    opacity: 50%;
  }
}

@media screen and (max-width: 400px) {
  .slider-item-wrapper {
    width: 100%;
  }
}

#pagination-wrapper .product-bullet {
  background: transparent;
  width: 12px;
  border: 1px solid white;
  height: 12px;
  border-radius: 50%;
}

#pagination-wrapper .product-bullet.product-bullet-active {
  background: #d9a952;
  border-color: transparent;
}

#pagination-sertificate-wrapper .sertificate-bullet {
  background: transparent;
  width: 12px;
  border: 1px solid #909090;
  height: 12px;
  border-radius: 50%;
}

#pagination-sertificate-wrapper .sertificate-bullet.sertificate-bullet-active {
  background: #d9a952;
  border-color: transparent;
}

#pagination-feedback-wrapper-1 .feedback-bullet,
#pagination-feedback-wrapper-2 .feedback-bullet,
#pagination-feedback-wrapper-3 .feedback-bullet {
  background: transparent;
  width: 12px;
  border: 1px solid white;
  height: 12px;
  border-radius: 50%;
}

#pagination-feedback-wrapper-1 .feedback-bullet.feedback-bullet-active,
#pagination-feedback-wrapper-2 .feedback-bullet.feedback-bullet-active,
#pagination-feedback-wrapper-3 .feedback-bullet.feedback-bullet-active {
  background: white;
  border-color: transparent;
}

.overlay-sertificate::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  opacity: 0;
  z-index: 10;
  left: 0;
  top: 0;
}
